* {
    margin: 0;
    padding: 0;
    outline: 0;
}

html {
    width: 100%;
}

body {
    width: 100%;

}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 800px;
    padding-top: 100px;
}
#searchContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#searchInput{
    width: 600px;
    height: 40px;
    padding-left: 10px;
    font-size: 18px;
}

#searchBtn{
    width: 100px;
    height: 44px;
    font-size: 19px;
    position: relative;
    right: 24px;
    border: 2px solid black;
}
#searchBtn:hover, #searchStopBtn {
    cursor: pointer;
}

.searchInputArea{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#searchStopBtn {
	display:none;
    position: relative;
    background-color: black;
    border: 1px solid black;
    border-radius: 50%;
    color: white;
    text-align: center;
    width: 20px;
    height: 20px;
    right: 30px;
}
#searchHistory{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 700px;
    min-height: 100px;
    padding: 0 20px 20px 20px;
}
.historyWord{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: pink;
    margin-right: 20px;
    border-radius: 20px;
    min-width: 90px;
    height: 30px;
}
.word{
    font-size: 15px;
    padding-top: 8px;
    margin-left: 10px;
    height: 23px;
    margin-right: 10px;
}
.word:hover {
    cursor: pointer;
}
.wordCancelBtn{
    background-color: pink;
    border: pink;
    margin-right: 10px;
    font-size: 20px;

}
.cardList{
    min-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.title:hover{
	    cursor: pointer;
}

.card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.card div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    font-weight: bold;
    min-height: 50px;
    margin: 0;
}
.date, .carNum, .ticket{
    width: 170px;
}
.parkingLotName {
	width:220px;
}
.state{
    width: 300px;
    z-index: 1;
}
.checkAllCar{
    background-color:black;
    border-color: black;
    color: pink;
    font-size: 18px;
    width: 250px;
    height: 60px;
}
.checkAllCar:hover{
    background-color: pink;
    color: black;
}
button:hover{
    cursor: pointer;
}
.btnArea{
    width: 200px;
}
.btnContainer{
    display: flex;
    width: 900px;
    flex-direction: row;
    align-items:center;
    height:100px;
    justify-content: space-between;
}
.tabContainer, .cardList ,#searchContainer{
    width: 1100px;
}
.ticketBtn{
    background-color:black;
    border-color: black;
    color: white;
    font-size: 14px;
    width: 70px;
    height: 35px;
}
.ticketBtn:hover{
    background-color: white;
    color: black;
}
.tabContainer{
	display:flex;
	flex-direction:row;
	margin-bottom:10px;
}
.tabLink{
	width:25%;
	display: flex;
	justify-content:center;
	align-items: center;
	font-size: 19px;
	height:60px;
	background-color: white;
	color: black;
	font-weight:  600;
	border: 2px solid black;
}
.tabContent {
	display: none;
}
.tabActive, .tabLink:hover{
	background-color: #eb8daf;
    cursor: pointer;
	color:white;	
}

.tabActive {
	display: flex;
}

#checked {
    background-color: dimgrey;
}
h2{
	margin: 20px 0 10px 0;
}