<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" type="text/css" href="/parking/css/style.css">
    <title>자동화 작업</title>
</head>
<body>
        <div class="container">
        	<div class="btnContainer">
        	     <button class="checkAllCar" id="getTicket">주차권 새로고침</button>
            	<button class="checkAllCar" id="pushTicket">아이파크에 주차권 넣기</button>
           		<button class="checkAllCar" id="checkTicket">주차권 선택하기</button>
        	</div>
        	<div class="tabContainer">
        		<div class="tabLink" data-tab-id="ready" id="defaultTab">현장 발권된 주차권</div>
        		<div class="tabLink" data-tab-id="check">현장에 발권할 주차권</div>
        		<div class="tabLink" data-tab-id="checked">주차 완료</div>
        		<div class="tabLink" data-tab-id="cancel">취소된 주차권</div>
        	</div>
        	
        	<div class="cardList" id = "header">
            	<div class = "card">
              		<div class="date title" data-order-by>시간</div>
                	<div class="parkingLotName title" data-order-by>주차장 이름</div>
               		<div class="carNum title" data-order-by>차 번호</div>
                	<div class="ticket title" data-order-by>주차권 </div>
                	<div class="state title" data-order-by>비고</div>
                	<div class="btnArea title" data-order-by>선택</div>
            	</div>            
        	</div>
        	<div class="cardList tabContent" id="ready">
        	</div>
        	
        	<div class="cardList tabContent" id="check">	 
        	</div>	
        	
        	
        	<div class="cardList tabContent" id = "checked">
        	</div>
        	
        	<div class="cardList tabContent" id = "cancel">
        	</div>
    </div>
</body>
<script src= "/parking/js/lib/handlebars.min-v4.7.2.js"></script>
<script type="module" src="/parking/js/app.js"></script>
</html>