<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" type="text/css" href="/parking/css/style.css">
    <title>자동화 작업</title>
</head>
<body>
        <div class="container">
        	<div class="btnContainer">
            	<button class="checkAllCar" id="pushTicket">아이파크에 주차권 넣기</button>
           		 <button class="checkAllCar" id="checkTicket">주차권 선택하기</button>
        	</div>
        	<div class="cardList" id = "header">
            	<div class = "card">
              		<div class="date">시간</div>
                	<div class="parkingLotName">주차장 이름</div>
               		<div class="carNum">차 번호</div>
                	<div class="ticket">주차권 </div>
                	<div class="state">비고</div>
                	<div class="btnArea">선택</div>
            	</div>            
        	</div>
        	<div class="cardList" id="check">
       			 <div class = "card">
	                <div class="date"></div>
	                <div class="parkingLotName">GS타임즈 한누리빌딩</div>
	                <div class="carNum">23머1515</div>
	                <div class="ticket">일일권</div>
	                <div class="state"></div>
	                <div class="btnArea">
	                    <button class="ticketCheck">주차확인</button>
	                </div>
                </div>
        	</div>	
        	<div class="carList" id = "checked">
        	</div>
    </div>
</body>
<script src= "/parking/js/lib/handlebars.min-v4.7.2.js"></script>
<script type="module" src="/parking/js/app.js"></script>
</html>